<div class="card w-100 my-5">
    <div class="card-body">
        <h1 class="card-title text-center">Formulário de Usuários</h1>

        <form [formGroup]="userForm">
            <div class="row my-4">
                <div class="form-floating w-50">
                    <input type="text" id="nome" 
                    formControlName="nome" placeholder="digite seu nome" class="form-control">
                    <label for="nome">Nome</label>
                </div>
                <div class="form-floating w-50">
                    <input type="text" id="sobrenome" 
                    formControlName="sobrenome"placeholder="digite seu sobrenome" class="form-control">
                    <label for="sobrenome">Sobrenome</label>
                </div>
            </div>
            <div class="row my-4">
                <div class="form-floating w-50">
                    <input type="text" id="idade" 
                    formControlName="idade"placeholder="digite sua idade" class="form-control">
                    <label for="idade">Idade</label>
                </div>
                <div class="form-floating w-50">
                    <input type="text" id="profissao" 
                    formControlName="profissao"placeholder="digite sua profissão" class="form-control">
                    <label for="profissao">Profissão</label>
                </div>
            </div>

            <div class="row my-4">
                <div class="form-group col-12 mt-4">
                    <button class="btn btn-outline-warning float-start" [routerLink]="['/']">Cancelar</button>
                    <button (click)="actionButton()" class="btn btn-outline-success float-end">{{ funcao }}</button>
                </div>
            </div>
        </form>
    </div>
</div>